.note{
    margin-left: 1rem;
}
.note h1  {

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.note p{
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.note a {
    margin-right: 1rem;
    text-decoration: none;
    color: hotpink;
    font-weight: bolder;
}