.content__textArea{
        background-color: #ffffd2;
        flex: 1;
        height: 90vh;
        
    }
    
.content__textArea form{
  /* display: flex;
  flex-direction: column; */
    margin-top: 5%;
    padding-bottom: 2rem ;
    border-radius: 10px;
    max-width: 70vh;
    max-height: 50vh;
    background-color: #ffde7d;
}

label {
  padding: 2px 12px 2px 0;
  display: inline-block;
}


.col-25 { 
  margin-top: 6px;
  padding-top: 5%;
}  

.col-75 input,textarea{
  /* position: relative; */
  width: 60%;
  margin-top: 6px;
  background-color: white;
  border-radius: 10px;
  border-style: none;
  font-size: 15px;
}

.col-75 input{
  height: 2em;
  font-weight: bold;
  /* height: 69% ; */
}

.content__textArea button{
  margin: 5%;
  border-radius: 5px;
  background-color: darkslategrey;
  color: white;
  cursor: pointer;
  padding: 7px;
  font-size: 15px;
  border-style: none;
}

.textarea_container{
    /* background-color: lightsteelblue; */
    padding: 2rem;
    width:  60%;
    margin : 1% 4%;

}

.textarea_note_display{

    padding: 2rem;
    height: 60vh;
    overflow-y: scroll;
    box-shadow: 3px 3px 10px  grey;
    background-image: linear-gradient(to bottom right,rgb(170, 235, 170) , lightcyan  );
    border-radius: 10px;

}

.textarea_note_display p{
  font-size: 1.5rem;
}

/* .content__lists{

  align-items: center;
  } */
/* 
.edit_button{
  background-color: rgb(16, 113, 151);
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  float : right;
  margin-top: 1%;
  border-radius: 7px;
} */




  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      margin-top: 0;
    }
    .content__textArea form{
      margin-left: 3%;
    }
    .textarea_container{
      width:  auto;
      margin: 4%;
    }
    .textarea_note_display p{
      font-size: 1.15rem;
    }
    
  }   