.content__textArea{
        background-color: lightgoldenrodyellow;
        color: indigo;
        flex: 0.7;
        /* justify-content: space-evenly; */
    }
    
.content__textArea form{
    margin-left: 10%;
    margin-top: 5%;
    padding-bottom: 1rem ;
}    

.textarea_container{
    background-color:white;
    padding: 2rem;
    width:  800px;
}
.textarea_note_display{
    height: auto; 
    /* width:  90%; */
    padding: 2rem;
    background-color:lightcyan;
    margin: 0 10%
}

label {
    padding: 2px 12px 2px 0;
    display: inline-block;
  }
  

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;

  }
  
 
  .col-25 {
    
    width: 25%;
    margin-top: 6px;
  }
  
  
  .col-75 {
  
    width: 75%;
    margin-top: 6px;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }   